<div id="<%= dom_id item %>" style="background-color: lightblue; padding: 10px; border: 1px solid gray;">
  <p>
    <img src="<%= item.image_url %>" width="300" height="300">
  </p>
  <%# <p> %>
  <%# <strong>Auteur:</strong> %>
  <%# <%= item.user%> %>
  <%# </p> %>
  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>
  <p>
    <%= link_to "Show this item", item %>
  </p>
</div>
